@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#cssmenu #menu-button {
  display: none; }

@media (min-width: 700px) {
  #cssmenu > ul {
    display: flex; }
  #cssmenu > ul > li {
    text-align: center;
    display: inline-block;
    background: url(../images/borderimg.jpg) no-repeat right;
    padding: 15px 0px;
    flex: 1 0 auto; }
  #cssmenu ul ul {
    position: absolute;
    left: -9999px;
    top: 80px;
    z-index: 9999;
    padding-top: 6px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0;
    -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
    -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
    -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
    -o-transition: top 0.2s ease, opacity 0.2s ease-in;
    transition: top 0.2s ease, opacity 0.2s ease-in; }
  /* Don't want the border effect when in vertical mode */
  #cssmenu > ul > li:hover,
  #cssmenu > ul > li:focus {
    border-bottom: 3px solid #f26531; }
  #cssmenu > ul > li.active,
  #cssmenu > ul > li.active:hover {
    border-bottom: 3px solid #f26531; }
  #cssmenu > ul > li:hover > ul {
    top: 39px;
    left: 0;
    opacity: 1; }
  #cssmenu ul ul li a {
    width: 269px; }
  #cssmenu > ul > li.has-sub > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0px solid transparent;
    border-top-color: #ffffff;
    right: 0;
    top: 0; }
  #cssmenu > ul > li > ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #ffffff;
    top: -4px;
    left: 20px; }
  .toggle-navigation {
    display: none; } }

@media (max-width: 700px) {
  .toggle-navigation {
    /* style the hamburger */
    display: block;
    border: none;
    background: none;
    width: 100%;
    height: 35px; }
    .toggle-navigation .icon-bar {
      display: block;
      width: 22px;
      height: 3px;
      border-radius: 1px;
      background-color: #FFF;
      margin: 5px 0 5px 0; }
  #cssmenu.opened > ul > li {
    display: block; }
  #cssmenu > ul > li {
    text-align: left;
    display: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    padding: 1em 10px;
    flex: 1 0 auto; }
  #cssmenu > ul > li.has-sub > a:before {
    content: ' + ';
    float: right; }
  #cssmenu > ul > li.has-sub.opened > a:before {
    content: ' - ';
    float: right; }
  #cssmenu ul > li.opened > ul {
    display: block; }
  #cssmenu ul > li > ul {
    display: none;
    padding-top: 6px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
    -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
    -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
    -o-transition: top 0.2s ease, opacity 0.2s ease-in;
    transition: top 0.2s ease, opacity 0.2s ease-in; }
  #cssmenu ul ul li a {
    width: 100%; } }

#cssmenu {
  z-index: 100;
  width: auto;
  font-family: 'Lato', sans-serif !important;
  background: rgba(255, 255, 255, 0.01); }

#cssmenu > ul {
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu > ul > li {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.01em; }

#cssmenu > ul > li:last-child {
  background: none; }

#cssmenu.align-center > ul {
  float: none;
  text-align: center;
  font-size: 0; }

#cssmenu.align-center > ul > li {
  float: none; }

#cssmenu.align-center ul ul {
  text-align: left; }

#cssmenu > ul > li > a {
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px; }

#cssmenu > ul ul li a {
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px; }

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li > a:active,
#cssmenu > ul > li.active > a {
  color: #ffa38b; }

#cssmenu > ul > li.has-sub > a {
  padding-right: 0;
  color: #ffffff; }

#cssmenu > ul > li.has-sub.active > a:after,
#cssmenu > ul > li.has-sub:hover > a,
#cssmenu > ul > li.has-sub:focus > a,
#cssmenu > ul > li.has-sub.active:hover > a {
  border-top-color: #ffffff; }

#cssmenu.align-right ul ul {
  text-align: right; }

#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px; }

#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px; }

#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px; }

#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0; }

#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px; }

#cssmenu.align-right ul ul ul {
  padding-right: 6px; }

#cssmenu ul ul > li:hover > ul {
  left: 150px;
  top: 0;
  opacity: 1; }

#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1; }

#cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 15px 25px;
  color: #ffffff;
  text-align: left;
  background: #78629c;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1); }

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color: #ffa38b; }

#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block; }

#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px; }

#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px; }

#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333; }

#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent; }
